<header class="main-header">
  <div class="main-header__wrapper">
    <div class="main-header__logo">
      <a href="/">
        <img src="../assets/img/logo.png" alt="Ремонт зубных протезов">
      </a>
    </div>

    <nav class="main-header__menu">
      <div class="main-header__nav">
        <a class="main-header__link" href="/index.html">Главная</a>
        <a class="main-header__link" href="/">Услуги</a>
        <a class="main-header__link" href="/prices.html">Цены</a>
        <a class="main-header__link" href="/">Отзывы</a>
        <a class="main-header__link" href="/">О нас</a>
        <a class="main-header__link" href="/">О Контакты</a>
      </div>

      <div class="main-header__phone">
        <a href="tel: +79161323089">+7 (916) 132 30 89</a>
      </div>
    </nav>

    <div class="main-header__burger"></div>
  </div>
</header>

