<header class="main-header">
    <div class="container">
        <div class="row justify-content-between">
            <div class="main-header__logo col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/"><img class="main-header__main-logo" src="/img/logo-with-title-hq-2.png" alt="Ремонт зубных протезов Подольск"></a>
                    </div>
                </div>
            </div>
            <div class="main-header__contacts col-md-6 col-lg-4 align-self-center" align="center">
                <div class="telephone"><a href="tel:+7 (916) 132 30 89">+7 (916) 132 30 89</a></div>
                <div class="telephone"><a href="tel:+7 (962) 925 46 35">+7 (962) 925 46 35</a></div>
                <div class="address">г. Подольск, ул. Парковая, д. 2</div>
            </div>
        </div>
    </div>
</header>