<div class="main-nav">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!--TODO: get rid of navbar-brand-->
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/views/">Главная</a>
                    <a class="nav-item nav-link" href="/views/services">Услуги</a>
                    <a class="nav-item nav-link" href="/views/prices">Цены</a>
                    <a class="nav-item nav-link" href="/views/feedback">Отзывы</a>
                    <a class="nav-item nav-link" href="/views/">Контакты</a>
                </div>
            </div>
        </nav>
    </div>
</div>