<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ремонт зубных протезов</title>
    <base target="./">
    <link rel="stylesheet" href="../styles/reset.less" />
    <link rel="stylesheet" href="../styles/main.less" />
  </head>
  <body>
    <module href="templates/header/index.html"></module>

    <div class="main-content">
      <div class="main-content__sidebar-wrapper">
        <div class="rp-jumbotron">
          <div class="main-content__sidebar">
            <h2 class="rp-heading rp-heading--secondary">
              Наши услуги:
            </h2>

            <hr class="main-content__sidebar-hr" />

            <p class="rp-typography">
              Ремонт зубных протезов
            </p>

            <a href="/">
              <button class="rp-button main-content__sidebar-button" type="button">
                Узнать цену
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="main-content__info">
        <img src="../assets/img/main/main_1.png" alt="Ремонт зубных протезов" />

        <p class="rp-typography">
          Бывает же так: один миг – и обладатель полного набора зубов уже не может ни жевать, ни говорить, ни улыбаться!
          Нет, ему нисколько не больно. Зато ему очень обидно. Ведь за этот миг произошло не что иное, как поломка
          зубного протеза!
        </p>

        <div class="rp-jumbotron main-content__info-jumbotron">
          <ul class="main-content__primary-jumbotron-list">
            <li>Мы можем починить протез в реальные сроки</li>
            <li>Мы обслуживаем жителей Подольска</li>
            <li>
              Мы распологаем арсеналом материалов и оборудования для ремонта протезов
            </li>
          </ul>

          <div class="main-content__primary-jumbotron-phone">
            Позвоните нам:
          </div>

          <div class="main-content__primary-jumbotron-phone-link">
            <a href="tel: +79161323089">+7 (916) 132 30 89</a>
          </div>
        </div>

        <section>
          <h2 class="rp-heading rp-heading--secondary">
            Если у Вас:
          </h2>

          <ul>
            <li>Перелом или появление трещины в базисе конструкции;</li>
            <li>Откол искусственного зуба;</li>
            <li>
              Удаление опорного зуба, за который крепилась конструкция, и необходимость замещения его искусственным.
            </li>
          </ul>
        </section>

        <div class="rp-alert">
          Ремонт (починку) съемного протеза сам стоматолог не делает! Врач-стоматолог все равно сдаст Ваш сломанный
          протез в ремонт. Таким образом, обратившись напрямую к нам, Вы <strong>экономите Ваши деньги и время.</strong>
          Не пытайтесь ремонтировать протез. Если протез сломался на несколько частей, сохраняйте их все.
          Самостоятельный ремонт протеза может создать ситуацию, при которой сломанный протез будет невозможно починить
          и возникнет необходимость изготовления нового изделия, что значительно дороже.
        </div>

        <img src="../assets/img/main/main_2.png" alt="Ремонт зубных протезов" />

        <section>
          <h2 class="rp-heading rp-heading--secondary">
            Причины поломки
          </h2>

          <p class="rp-typography">
            Причин поломки может быть несколько:
          </p>

          <ul>
            <li>Недостатки материалов, из которых сделан протез;</li>
            <li>Ошибки врача при протезировании;</li>
            <li>Ошибки зубного техника при изготовлении протеза в лаборатории;</li>
            <li>Поломка протеза по причине небрежности самого пациента;</li>
            <li>Еще одна распространенная причина – давно истекший срок использования протеза.</li>
          </ul>

          <p class="rp-typography">
            На самом деле, поломка протезов – довольно распространенное явление.
          </p>

          <p class="rp-typography">
            Но независимо от причины поломки протеза, совершенно понятно, что надо срочно исправить ситуацию. Изготовить
            новый протез? Но на это понадобится время. Прожить даже несколько дней без зубов может позволить себе не
            каждый.
          </p>
        </section>

        <section>
          <h2 class="rp-heading rp-heading--secondary">
            Мы готовы помочь Вам в решении этой проблемы
          </h2>

          <p class="rp-typography">
            К сожалению, некоторые люди пытаются починить протез самостоятельно.
          </p>

          <div class="rp-alert">
            При неправильно проведенной починке вы рискуете своим здоровьем, потому что изделие может не просто
            треснуть, но и отломиться, а это может привести к более жестким последствиям.
          </div>
        </section>

        <section>
          <h2 class="rp-heading rp-heading--secondary">
            Стоимость
          </h2>

          <p class="rp-typography">
            Ремонт съемных протезов — процедура эффективная, но недорогая, поэтому не стоит ее бояться.
          </p>

          <p class="rp-typography">
            Строгих разграничений по ценовой политике в ремонтировании не существует, исключение только сложные случаи.
            Обычно в современных стоматологиях починка конструкций начинается с суммы в 1600 руб.
          </p>

          <p class="rp-typography">
            <strong>
              Наша услуга будет дешевле.
            </strong>
          </p>
        </section>

        <div class="rp-jumbotron main-content__info-jumbotron main-content__secondary-jumbotron">
          <h2 class="rp-heading rp-heading--secondary">
            Каждый случай особенный
          </h2>

          <p class="rp-typography">
            Проконсультироваться и узнать цену услуг для Вашего случая Вы можете по телефону.
          </p>

          <div>
            <p class="rp-typography">
              Позвоните нам:
            </p>

            <a href="tel: +79161323089">+7 (916) 132 30 89</a>
          </div>

          <p class="rp-typography">
            Прием заказов на ремонт протезов с 9:00 до 17:00 ежедневно, без выходных
          </p>
        </div>
      </div>
    </div>

    <module href="templates/footer/index.html"></module>

    <script src="../app.js"></script>
  </body>
</html>
