@import "./base/constants";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/nav";

@import "./pages/prices";

@import "./components/rp-jumbotron";
@import "./components/rp-jumbotron-border";
@import "./components/rp-list";
@import "./components/rp-main-component";
@import "./components/rp-button";

@import "./helpers/mixins.scss";

@include font-face(HelveticaNeueCyr-Bold, "../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold", null, null, eot ttf woff);
@include font-face(HelveticaNeueCyr-Heavy, "../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy", null, null, eot ttf woff);
@include font-face(HelveticaNeueCyr-Medium, "../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium", null, null, eot ttf woff);
@include font-face(HelveticaNeueCyr-Thin, "../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin/HelveticaNeueCyr-Thin", null, null, eot ttf woff);
@include font-face(MyriadPro-Light, "../fonts/MyriadPro/MyriadPro-Light/MyriadPro-Light", null, null, eot ttf woff);
@include font-face(MyriadPro-Regular, "../fonts/MyriadPro/MyriadPro-Regular/MyriadPro-Regular", null, null, eot ttf woff);
@include font-face(MyriadPro-Bold-Italic, "../fonts/MyriadPro/MyriadPro-Bold-Italic/MyriadPro-BoldIt", null, null, eot ttf woff);
@include font-face(MyriadPro-Bold, "../fonts/MyriadPro/MyriadPro-Bold/MyriadPro-Bold", null, null, eot ttf woff);
@include font-face(MyriadPro-Regular-Italic, "../fonts/MyriadPro/MyriadPro-Regular-Italic/MyriadPro-It", null, null, eot ttf woff);

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  margin-bottom: 394px;

  @media (min-width: 992px) {
    margin-bottom: 228px;
  }
}

