<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Услуги</title>
    //= templates/dependecies.css.html
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    //= templates/header.html

    //= templates/nav.html

    <main class="main-content">
        <div class="container">
            <div class="main-content__wrap">
                <div class="row">
                    <div class="col-md-4 col-lg-3" align="center">
                        //= templates/main-content-get-price.html
                    </div>

                    <div class="col-md-8 col-lg-9">
                        <div class="main-content__main-text-heading">
                            Услуги
                        </div>

                        <hr class="main-content__main-text-hr" />

                        <p class="main-content__main-text-paragraph">
                            Мы оказываем качественную, быструю и удобную услугу по ремонту предметов личного
                            пользования (зубных протезов)
                        </p>

                        <a class="rp-button rp-button-default" href="/views/prices" role="button">Узнать цену</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    //= templates/footer.html

    //= templates/dependecies.js.html
</body>
</html>